<div class="block">
    <!-- Давай виведем всі block-info через *ngFor Приклад в слайдер блок -->
    <div class="block-info">
        <img src="" alt="">
        <div class="info-projects">
            <p>{{numberInfo}}</p>
            <p>{{descInfo}}</p>
        </div>
    </div>
    <div class="block-info">
        <img src="" alt="">
        <div class="info-working">
            <p>{{numberWorking}}</p>
            <p>{{descWorking}}</p>
        </div>
    </div>
    <div class="block-info">
        <img src="" alt="">
        <div class="info-feedbacks">
            <p>{{numberFeedbacks}}</p>
            <p>{{descFeedbacks}}</p>
        </div>
    </div>
    <div class="block-info">
        <img src="" alt="">
        <div class="info-clients">
            <p>{{numberClients}}</p>
            <p>{{descClients}}</p>
        </div>
    </div>
</div>
