:host {
  width: 100%;
  display: block;
  background-color: #10c9c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 178px;
  padding-bottom: 60px;
}

.title {
  width: 70vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.24px;
  text-align: center;
  color: #fff;
}

.fs30 {
  font-size: 30px;
  letter-spacing: 0.3px;
}

.author {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 3;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.row-circles {
  display: flex;
  justify-content: center;
  align-items: center;
}
