.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b0e8e6;
  margin-top: 109px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

.circle-active {
  width: 13px;
  height: 13px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}
