<h2 class="main-title">
    {{mainTitle}}
</h2>
<p class="description">
    {{description}}
</p>
<form class="form-my" action="/action_page.php">
    <div class="row">
        <input type="text" class="form-name" name="name" placeholder="Your Name" size="20">
        <input type="email" class="form-email" name="email" placeholder="Your Email"><br><br>
    </div>
    <input type="text" class="form-title" name="title" placeholder="Your Title" size="20"><br><br>
    <textarea class="form-comment" name="comment" placeholder="Your Comment"></textarea><br><br>
    <button class="green-style">
        <span class="button-name">
            {{buttonName}}
        </span>
    </button>
</form>