<h2 class="main-title">
    {{mainTitle}}
</h2>
<p class="description">
    {{description}}
</p>
<form class="form-my" action="/action_page.php">
    <div class="row">
        <input type="text" class="your-data form-name" name="name" placeholder="Your Name" size="30">
        <input type="email" class="your-data" name="email" placeholder="Your Email"><br><br>
    </div>
    <input type="text" class="form-title" name="title" placeholder="Your Title" size="30"><br><br>
    <textarea class="form-comment" name="comment" placeholder="Your Comment"></textarea><br><br>
    <button class="green-style button-name">{{buttonName}}</button>
</form>