body {
    size: 100%;
} 

.navbar {
    margin: 30px 0px 0 0px;
    background-color: rgb(229, 229, 229);
}

.header {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 30px 0 0 10%;
}

.menu-link-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 30px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: small;
    padding-left: 15px;
}

.home-link {
    color:#10c9c3;
}

.nav-bord {
    display: flex;
    justify-content: flex-end;
    padding: 150px 0 150px;
}

.relevant-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.relevant-inf-title {
    margin: 0;
}

.relevant-info-description-content {
    box-sizing: border-box;
    width: 70%;
    margin: 7% 0;
}


.relevant-info-contact-button-component {
    width: 150px;
    height: 50px;
    background-color: #10c9c3;
    color: white;
    border: none;
}


@media (max-width: 850px) {
.nav-bord {
    display: flex;
    flex-direction: column;
}
.relevant-info-container {
    width: 100%;
    margin: 0;
}
}


@media (max-width: 700px) {
.header{
    flex-direction: column;
}

.menu-link-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin-bottom: 0;
}
.link {
    margin-top: 20px;
}
}