<!-- Тут треба трошки переробити. На малих екранах виглядає не пропорційно
Також ти задав статичну висоту а після того 10% і 90% висоту для елементів. Кращою практикою являються відступи (падінги і марджіни)для
елементів і без статичної висоти контейнера коли це 600пікселів. ТО не проблема, якщо сам контейнер в тебе буде трохи менший ніж в дизайні. 
.relevant-info-container вилазить за межі контейнера на малих екранах -->

<div class="navbar">
  <div class="header">
    <div class="icon">
      <img src="/assets/images/logo.png" alt="image">
    </div>
    <div class="menu-link-container">
      <a mat-list-item href="###" class="home-link link">
        <span>HOME</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>ABOUT</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>WORK</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>PROCESS</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>SERVICES</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>TESTIMONIALS</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>CONTACT</span>
      </a>
    </div>
  </div>
  <div class="nav-bord">
    <div class="relevant-info-container">
      <h1 class="relevant-inf-title">
          {{mainTitle}}
        </h1>
      <p class="relevant-info-description-content">
          {{description}}
      </p>
      <button class="relevant-info-contact-button-component">contact us</button>
    </div>
  </div>
</div>