<div class="navbar">
  <div class="header">
    <div class="icon">
      <img src="###" alt="image">
    </div>
    <div class="menu-link-container">
      <a mat-list-item href="###" class="link">
      <a mat-list-item href="###" class=" link">
        <span>HOME</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>ABOUT</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>WORK</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>PROCESS</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>SERVICES</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>TESTIMONIALS</span>
      </a>
      <a mat-list-item href="###" class="link">
        <span>CONTACT</span>
      </a>
    </div>
  </div>
  <div class="nav-bord">
    <div class="relevant-info-container">
      <h1 class="relevant-inf-title">
          {{mainTitle}}
        </h1>
      <p class="relevant-info-description-content">
          {{description}}
      </p>
      <button class="relevant-info-contact-button-component">contact us</button>
    </div>
  </div>
</div>