:host {
  display: flex;
  background-color: #141414;
  justify-content: space-around;
  padding: 40px 10px 90px 10px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.columns {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-top: 50px;
}

.title {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.18px;
  text-align: left;
  color: #fff;
  margin: 0px;
}

.description {
  font-family: NunitoSans;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #bcbcbc;
  max-width: 65%;
}

.contact-information {
  font-family: NunitoSans;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #bcbcbc;
  margin: 0px;
}

.link {
  font-family: NunitoSans;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #bcbcbc;
}

.linkPlus {
  margin-left: 70px;
  margin-right: 130px;
}

@media (max-width: 480px) {
  .link {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }
}
