<div class="columns">
    <p class="title">
        {{title}}
    </p>
    <p class="description">
        {{description}}
    </p>
</div>
<div class="columns">
    <p class="contact-information">
        {{email}}
    </p>
    <p class="contact-information">
        {{phone}}
    </p>
</div>
<div class="columns">
    <a *ngFor="let item of footerLinkOne" href="{{item.href}}" class="link">
        <span>{{item.name}}</span>
    </a>
</div>
<div class="columns">
    <a *ngFor="let item of footerLinkTwo" href="{{item.href}}" class="link">
        <span>{{item.name}}</span>
    </a>
</div>
<div class="columns">
    <a *ngFor="let item of socialLink" href="{{item.href}}" class="link link-plus">
        <span>{{item.name}}</span>
    </a>
</div>