:host {
  display: flex;
  background-color: #141414;
  justify-content: space-around;
  padding: 90px 10px 90px 10px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.columns {
  display: flex;
  flex-direction: column;
  margin: 25px 0 25px 0;
}

.title {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.18px;
  color: #fff;
  margin: 0px;
}

.description {
  font-family: NunitoSans;
  font-size: 15px;
  line-height: 1.6;
  color: #bcbcbc;
  max-width: 65%;
}

.contact-information {
  font-family: NunitoSans;
  font-size: 15px;
  line-height: 1.6;
  color: #bcbcbc;
  margin: 0px;
}

.link {
  font-family: NunitoSans;
  font-size: 15px;
  line-height: 1.6;
  color: #bcbcbc;
}

.link-plus {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1024px) {
  .columns {
    width: 34%;
    align-items: center;
  }

  .description {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .link {
    font-size: 22px;
  }

  .columns {
    width: 51%;
  }
}
