
:host {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-container {
  width: 25%;
  height: 300px;
  min-width: 200px;
}

.img-gray {
  background-color: #848484;
}

.img-witegray {
  background-color: #dedede;
}

.image-container:hover{
  background-color: #202020;
}