<div class="image-container img-gray">
  <img src="" alt="" />
</div>
<div class="image-container img-witegray">
  <img src="" alt="" />
</div>
<div class="image-container img-gray">
  <img src="" alt="" />
</div>
<div class="image-container img-witegray">
  <img src="" alt="" />
</div>
<div class="image-container img-witegray">
  <img src="" alt="" />
</div>
<div class="image-container img-gray">
  <img src="" alt="" />
</div>
<div class="image-container img-witegray">
  <img src="" alt="" />
</div>
<div class="image-container img-gray">
  <img src="" alt="" />
</div>
