
/* :host {
  width: 100%;
  display: flex;
} */

.img-row {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}

.image {
  width: 25%;
  height: 300px;
  min-width: 100px;
}

.img-gray {
  background-color: #848484;
}

.img-witegray {
  background-color: #dedede;
}

.image:hover{
  background-color: #202020;
}
/* Стилізуємо тільки по класам через специфічність css */

img {
  width: 100%;
  height: 100%;
}