<!-- img-row to images-container. Хоча в ангулярі краще стилізувати контейнер через псевдо клас :host. Так ти забираєш зайві тегию  -->
<div class="img-row">
<!-- image to image-container. Щоб було зрозуміліше шо і як -->
  <div class="image img-gray">
    <img src="" alt="" />
  </div>
  <div class="image img-witegray">
    <img src="" alt="" />
  </div>
  <div class="image img-gray">
    <img src="" alt="" />
  </div>
  <div class="image img-witegray">
    <img src="" alt="" />
  </div>
  <!-- Нам не потрібно 2 img-row просто добавити в сss йому flex-wrap: wrap; -->
<!-- </div> -->
<!-- <div class="img-row"> -->
  <div class="image img-witegray">
    <img src="" alt="" />
  </div>
  <div class="image img-gray">
    <img src="" alt="" />
  </div>
  <div class="image img-witegray">
    <img src="" alt="" />
  </div>
  <div class="image img-gray">
    <img src="" alt="" />
  </div>
</div>
