:host {
  width: 100%;
  display: block;
  margin: 100px 0 0;
  padding: 100px 0px 100px 0px;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-align: center;
  color: #191919;
}

.description {
  font-family: NunitoSans;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #787878;
}
