:host {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 64px;
  /* margin- padding бо тут внутрішній відступ */
}

.img {
  object-fit: contain;
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 5px;
}