<div class="container">
    <div class="info-line-loading">
        <div class="title-line-loading">
            <h2>
            {{titleLoad}}
            </h2>
        </div>

        <div class="line-loading">
            <div class="info-procent">
                <p>{{descDesign}}</p>
                <p>{{progLoadDesign}}</p>
            </div>
            <div class="progress-container-design">
                <progress id="" max="100" value="75"></progress>
            </div>

            <div class="info-procent">
                <p>{{descDevelopment}}</p>
                <p>{{progLoadDevelopment}}</p>
            </div>
            <div class="progress-container-drvelopment">
                <progress id="" max="100" value="75"></progress>
            </div>

            <div class="info-procent">
                <p>{{descMarketing}}</p>
                <p>{{progLoadMarketing}}</p>
            </div>
            <div class="progress-container-marketing">
                <progress id="" max="100" value="75"></progress>
            </div>
        </div>
    </div>
    <div class="clean-block"></div>
</div>
